* text=auto eol=lf

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.ico binary
*.png binary
*.rgba binary
*.zip binary
